<header class="container header active" id="home">
    <div class="header-content">
        <div class="right-header">
            <h1 class="name">Greetings from <span>Pradeepa!!!</span></h1>
            <p>
               Hello all,  I'm a Developer, I love to create beautiful and functional websites and develop products as many. 
               " Website without visitors is like a ship lost in the horizon ". Mastering programming doesn’t require you to be passionate.
                Programming is a set of computer knowledge and techniques. It comes with experience and practice on different and progressively 
                complex projects. 
               The one thing all successful developers have in common is work Not a passion.
            </p>
        </div>
        <div class="left-header">
            <div class="h-shape"></div>
            <div class="image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaJ7XnA4g4A6j4dKJmgXYocciMrXSgoEywhw&usqp=CAU" width="300px" height="300px" alt="" />
            </div>
        </div>
    </div>
</header>
<app-about></app-about>